<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    
<!-- 一个配置完整的 settings 元素的示例如下：
    
    
  <setting name="cacheEnabled" value="true"/>
  <setting name="lazyLoadingEnabled" value="true"/>
  <setting name="multipleResultSetsEnabled" value="true"/>
  <setting name="useColumnLabel" value="true"/>
  <setting name="useGeneratedKeys" value="false"/>
  <setting name="autoMappingBehavior" value="PARTIAL"/>
  <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
  <setting name="defaultExecutorType" value="SIMPLE"/>
  <setting name="defaultStatementTimeout" value="25"/>
  <setting name="defaultFetchSize" value="100"/>
  <setting name="safeRowBoundsEnabled" value="false"/>
  <setting name="mapUnderscoreToCamelCase" value="false"/>
  <setting name="localCacheScope" value="SESSION"/>
  <setting name="jdbcTypeForNull" value="OTHER"/>
  <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
    
    
-->

    <!-- 全局参数 -->
    <settings>

        <!-- 打印查询语句 -->
        <!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
        <!--<setting name="logImpl" value="LOG4J"/>-->
        <!-- 使全局的映射器启用或禁用缓存。开启二级缓存：不同sqlsession之间共享查询结果集-->
        <setting name="cacheEnabled" value="true"/>
        <setting name="defaultStatementTimeout" value="3000"/>
        <!-- 代理 -->
        <setting name="proxyFactory" value="CGLIB"/>
        <!-- 全局启用或禁用延迟加载。当禁用时，所有关联对象都会即时加载。 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 当启用时，有延迟加载属性的对象在被调用时将会完全加载任意属性。否则，每种属性将会按需要加载。 -->
        <setting name="aggressiveLazyLoading" value="true"/>
        <!-- 是否允许单条sql 返回多个数据集  (取决于驱动的兼容性) default:true -->
        <setting name="multipleResultSetsEnabled" value="true"/>
        <!-- 是否可以使用列的别名 (取决于驱动的兼容性) default:true -->
        <setting name="useColumnLabel" value="true"/>
        <!-- 允许JDBC 生成主键。需要驱动器支持。如果设为了true，这个设置将强制使用被生成的主键，有一些驱动器不兼容不过仍然可以执行。  default:false  -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 指定 MyBatis 如何自动映射 数据基表的列 NONE：不隐射　PARTIAL:部分  FULL:全部  -->
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <!-- 这是默认的执行类型  （SIMPLE: 简单； REUSE: 执行器可能重复使用prepared statements语句；BATCH: 执行器可以重复执行语句和批量更新）  -->
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <!-- 使用驼峰命名法转换字段。 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 设置本地缓存范围 session:就会有数据的共享  statement:语句范围 (这样就不会有数据的共享 ) defalut:session -->
        <setting name="localCacheScope" value="SESSION"/>
        <!-- 设置但JDBC类型为空时,某些驱动程序 要指定值,default:OTHER，插入空值时不需要指定类型 -->
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <!-- 分页插件 -->
     <plugins>
         <!-- 该插件如果已经在Spring整合数据源时配置了，此处再配置会抛出：RuntimeException: 在系统中发现了多个分页插件，请检查系统配置! -->
         <plugin interceptor="com.github.pagehelper.PageInterceptor">
             <!--设置数据库方言类型：Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库: 现版本dialect 变为 helperDialect-->
             <!-- 4.0.0以后版本可以不设置该参数 -->
             <!--<property name="dialect" value="mysql"/>-->
             <!-- RowBounds参数offset作为PageNum使用 - 默认false不使用，该参数默认为false，设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用，和startPage中的pageNum效果一样 -->
             <property name="offsetAsPageNum" value="false"/>
             <!-- 该参数默认为false，RowBounds是否进行count查询，默认不查询，设置为true时，使用RowBounds分页会进行count查询 -->
             <property name="rowBoundsWithCount" value="false"/>
             <!-- 设置为true时，如果pageSize=0(或 RowBound s的limit=0) 就会不执行分页，而是查询返回全部的结果  -->
             <property name="pageSizeZero" value="false"/>
             <!-- 分页合理化：false-当数据超限时返回空，而如果设置为true,超限时显示最后一页 -->
             <property name="reasonable" value="false"/>
             <!-- 是否支持接口参数来传递分页参数，默认false-->
             <property name="supportMethodsArguments" value="false"/>
             <property name="returnPageInfo" value="none"/>
             <property name="params" value="count=countSql"/>
         </plugin>
    </plugins>

</configuration>